*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#a{
    margin: auto;
    border: 3px solid black;
    width: 10px;
    height: 10px;
    border-radius: 20%;
    background: cadetblue;
    border-style: solid;
}
#t{
    text-align: center; 
}
table{
    margin: auto;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}